#aboutShelby {
    height: 100vh;
    width: 100vw;
    background-color: var(--footerBackground);
    display: flex;
    position: sticky;
    z-index: 1;
    align-items: center;
    bottom: 0;
    left: 0;
}

#aboutWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: top;
    width: 65vw;
    height: auto;
    margin: auto;
}

#aboutContent {
    height: auto;
    width: auto;
}


/* img styles */
#shelbyImg {
    width: 400em;
    height: 50em;
    background-color: var(--black);
    margin-right: var(--s_padding);
}

#shelbyImg img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 16;
    object-fit: cover;
    user-select: none;
    object-position: center 40%
}

/* type styles */
#aboutPara {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.aboutType {
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
    font-size: var(--small_para);
    font-style: normal;
    color: var(--black);
    display: inherit;
    margin-bottom: var(--paraSpacing);
    text-wrap: pretty;
    user-select: text;
}

#attribution {
    color: var(--black);
}

#attribution a, #attribution a:link, #attribution a:visited {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease-out;

}

#attribution a:hover {
    color: var(--grey);
    transition: color 0s linear;
}

/* socials */

#socials {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

#socials .icon {
    width: 22px;
    transition: all 0.4s ease-out;
    fill: var(--black);
    margin-right: 1em;
}

#socials .icon:hover {
    fill: var(--grey);
    transition: color 0s linear;
}

#taylor {
    position: absolute;
    display: flex;
    top: 95vh;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-width: 80em) {
    #aboutWrapper {
        flex-direction: column;
        width: 90vw;
    }

    #shelbyImg {
        width: 100%;
        height: 30em;
        margin-bottom: 3em;
    }

    /* #aboutPara {
        padding-bottom: var(--s_padding);
    } */

    /* #aboutShelby {
        height: 100vh;
    } */
}