#aboutShelby {
    height: 100vh;
    width: 100vw;
    background-color: var(--footerBackground);
    display: flex;
    align-items: center;
}

#aboutWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: top;
    width: 65vw;
    height: auto;
    margin: auto;
}


/* img styles */
#shelbyImg {
    width: 110vw;
    height: 40vh;
    background-color: var(--black);
    margin-right: var(--s_padding);
}

/* type styles */
#aboutpara {
    width: auto;
    height: auto;
}

.aboutType {
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
    font-size: var(--small_para);
    font-style: normal;
    color: var(--black);
    display: inherit;
    margin-bottom: var(--paraSpacing);
    text-wrap: pretty;
}