/* general web utilities */
:root {
    font-size: 10px;
    --white: #ffffff;
    --grey: #9c9c9c;
    --background: #202020;
    --s_padding: 6em;
}

* {
    padding: 0;
    margin: 0;
}
  
html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
    background-color: var(--background);
    height: 200vh;
}
  

/* title elements */

#webTitle, #webTitle a:link, #webTitle a:visited {
    color: var(--white);
    text-decoration: none;
    user-select: none;
    font-family: 'loretta', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.75rem;
    transition: color 0s linear;
}

#webTitle a:hover {
    color: var(--grey);
    transition: color 0.3s ease-in;
}

#animatedWord {
    font-family: 'loretta', sans-serif;
    font-weight: 300;
    font-style: italic;
}


/* side nav */

.navWrapper {
    width: auto;
    display: flex;
    padding: var(--s_padding);
    z-index: 999;
}

.sideNav {
    display: flex;
    position: fixed;
    align-items: left;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    z-index: 999;
}

.navType {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding-left: var(--s_padding);
    z-index: 998;
}

#bookIcon {
    height: auto;
    margin-top: 2px;
    width: 20px;
    fill: var(--white);
    transition: fill 0s linear;
}

#bookIcon:hover {
    fill: var(--grey);
    transition: fill 0.3s ease-in;
}

#personIcon {
    height: auto;
    width: 15px;
    fill: var(--grey);
    transition: fill 0s linear;
}

#personIcon:hover {
    fill: var(--white);
    transition: fill 0.3s ease-in;
}