/* title elements */

#webTitle, #webTitle a:link, #webTitle a:visited {
    color: var(--white);
    text-decoration: none;
    user-select: none;
    font-family: 'loretta', serif;
    font-weight: 300;
    font-style: normal;
    font-size: var(--ui_type);
    transition: color 0s linear;
}

#webTitle a:hover {
    color: var(--grey);
    transition: color 0.3s ease-in;
}

#animatedWord {
    font-family: 'loretta', serif;
    font-weight: 300;
    font-style: italic;
}


/* blur effect */

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.5s ease-in-out;
    pointer-events: none;
    z-index: 995;
}

body.blur-background::before {
    backdrop-filter: blur(4px);
}

/* site header */
.siteHeader {
    display: flex;
    height: 0;
    width: auto;
}


/* side nav */

.navWrapper {
    width: 100vw;
    display: flex;
    padding: var(--s_padding);
}

.sideNav {
    display: flex;
    position: fixed;
    align-items: left;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    z-index: 997;
    mix-blend-mode: difference;
}

.navType {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding-left: 40px;
    z-index: 998;
}


/* icon css */

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.icon {
    height: auto;
}

#leftArrowIcon, #personIcon {
    fill: var(--grey);
}

#leftArrowIcon {
    margin-right: 64px;
}

#arrowTop {
    padding-bottom: 1.5em;
}

.buttonWrapper:has(.icon.hovered) .bookData {
    color: var(--white);
    transition: color 0s linear;
}

#bookIcon {
    margin-top: 2px;
    width: 20px;
    fill: var(--white);
    transition: all 0.4s ease-out;
}

#bookIcon:hover {
    fill: var(--grey);
    transition: fill 0s linear;
}

#personIcon, #leftArrowIcon {
    width: 17px;
    transition: all 0.4s ease-out;
}

#personIcon:hover, #leftArrowIcon:hover {
    fill: var(--white);
    transition: fill 0s linear;
}


/* book selector */

#bookButtonContainer {
    height: auto;
    cursor: pointer;
}

.buttonWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    align-items: center;
}

.bookData {
    font-style: normal;
    color: transparent;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
    font-size: var(--ui_type);
    transition: color 0s linear;
}

.bookButton {
    position: relative;
    background-color: var(--grey);
    width: 16px;
    height: 2px;
    cursor: pointer;
    margin-right: 15px;
    transition: all 0.4s ease-out;
}

.active {
    background-color: var(--white);
}

.bookButton::before, .bookButton::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 64px;
    left: 0;
    right: 0;
    cursor: pointer;
}

.bookButton::before {
    top: 100%;
}

.bookButton::after {
    bottom: 100%;
}

.bookButton:hover {
    background-color: var(--white);
    width: 64px;
    transition: background-color 0s linear;
}

.bookButton:hover + .bookButton {
    width: 30px;
}

.buttonWrapper:has(.bookButton.hovered) .bookData {
    color: var(--white);
    transition: color 0s linear;
}

.buttonWrapper:has(.icon.hovered) #leftArrowIcon {
    fill: var(--white);
    transition: fill 0s linear;
}

.buttonWrapper:has(.bookButton.prev1) .bookButton {
    width: 52px;
}

.buttonWrapper:has(.bookButton.next1) .bookButton {
    width: 52px;
}

.buttonWrapper:has(.bookButton.prev2) .bookButton {
    width: 32px;
}

.buttonWrapper:has(.bookButton.next2) .bookButton {
    width: 32px;
}