.mainContent {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
    margin: auto;
}


/* intro paragraph */

.introPara {
    height: auto;
    width: 30vw;
    justify-content: left;
    padding: var(--s_padding);
    padding-bottom: var(--m_padding);
    user-select: text;
}

.overline, .intro {
    font-style: normal;
    color: var(--white);
}

.overline {
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
    font-size: var(--s_type);
    padding-bottom: 0.5em;
}

.intro {
    font-family: 'loretta', serif;
    font-weight: 300;
    font-size: var(--large_para);
}


/* spine css below */

#bookWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.spine {
    background-color: blue;
    height: 5em;
    width: 50%;
    border-radius: 5px;
    margin: var(--bookSpacing) 0px;
    transition: all 0.4s ease;
}

#topBook {
    margin-top: 0;
}

.spine:hover {
    cursor: pointer;
    margin: 1.2em 0px;
    scale: 1.05;
    /* animation: spineHover 0.3s ease forwards; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

/* #topBook:hover {
    animation: topSpineHover;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} */


/* @keyframes topSpineHover {
    0% {margin-bottom:  var(--bookSpacing) 0px;}
    100% {margin-bottom: 4em 0px;}
} */