:root {
    font-size: 10px;
    --white: #ffffff;
    --black: #000000;
    --grey: #858585;
    --background: #202020;
    --footerBackground: #fff5ea;

    /* paragraph spacing */
    --paraSpacing: 1em;

    /* padding below */
    --s_padding: 6em;
    --m_padding: 12em;

    /* book styles */
    --bookSpacing: 0.75em;
    --bookTypeSpacing: 1.5em;

    /* type below */
    --ui_type: 1.5rem;
    --large_para: 3rem;
    --small_para: 1.5rem;
    --masthead: 15em;
    --copy: 1.75em;
    --metaDataSpacing: 3em;
}

@media screen and (max-width: 80em) {
    :root {
        --large_para: 2.5rem;
        --small_para: 1.25rem;
        --ui_type: 1.25rem;
        --masthead: 5em;
        --copy: 1.5em;
        --metaDataSpacing: 1.25em;
    }
}